[submodule "Lamp-2"]
	path = Lamp-2
	url = https://github.com/voidrealms/Lamp-2.git
[submodule "Lamp-3"]
	path = Lamp-3
	url = https://github.com/voidrealms/Lamp-3.git
[submodule "Lamp-4"]
	path = Lamp-4
	url = https://github.com/voidrealms/Lamp-4.git
[submodule "Lamp-5"]
	path = Lamp-5
	url = https://github.com/voidrealms/Lamp-5.git
[submodule "Lamp-6"]
	path = Lamp-6
	url = https://github.com/voidrealms/Lamp-6.git
[submodule "Lamp-7"]
	path = Lamp-7
	url = https://github.com/voidrealms/Lamp-7.git
[submodule "Lamp-8"]
	path = Lamp-8
	url = https://github.com/voidrealms/Lamp-8.git
[submodule "Lamp-9"]
	path = Lamp-9
	url = https://github.com/voidrealms/Lamp-9.git
[submodule "Lamp-10"]
	path = Lamp-10
	url = https://github.com/voidrealms/Lamp-10.git
[submodule "Lamp-11"]
	path = Lamp-11
	url = https://github.com/voidrealms/Lamp-11.git
[submodule "Lamp-12"]
	path = Lamp-12
	url = https://github.com/voidrealms/Lamp-12.git
[submodule "Lamp-13"]
	path = Lamp-13
	url = https://github.com/voidrealms/Lamp-13.git
[submodule "Lamp-14"]
	path = Lamp-14
	url = https://github.com/voidrealms/Lamp-14.git
[submodule "Lamp-15"]
	path = Lamp-15
	url = https://github.com/voidrealms/Lamp-15.git
[submodule "Lamp-16"]
	path = Lamp-16
	url = https://github.com/voidrealms/Lamp-16.git
[submodule "Lamp-17"]
	path = Lamp-17
	url = https://github.com/voidrealms/Lamp-17.git
[submodule "Lamp-18"]
	path = Lamp-18
	url = https://github.com/voidrealms/Lamp-18.git
[submodule "Lamp-19"]
	path = Lamp-19
	url = https://github.com/voidrealms/Lamp-19.git
[submodule "Lamp-20"]
	path = Lamp-20
	url = https://github.com/voidrealms/Lamp-20.git
[submodule "Lamp-21"]
	path = Lamp-21
	url = https://github.com/voidrealms/Lamp-21.git
[submodule "Lamp-22"]
	path = Lamp-22
	url = https://github.com/voidrealms/Lamp-22.git
[submodule "Lamp-23"]
	path = Lamp-23
	url = https://github.com/voidrealms/Lamp-23.git
[submodule "Lamp-24"]
	path = Lamp-24
	url = https://github.com/voidrealms/Lamp-24.git
[submodule "Lamp-25"]
	path = Lamp-25
	url = https://github.com/voidrealms/Lamp-25.git
[submodule "Lamp-26"]
	path = Lamp-26
	url = https://github.com/voidrealms/Lamp-26.git
[submodule "Lamp-27"]
	path = Lamp-27
	url = https://github.com/voidrealms/Lamp-27.git
[submodule "Lamp-28"]
	path = Lamp-28
	url = https://github.com/voidrealms/Lamp-28.git
[submodule "Lamp-29"]
	path = Lamp-29
	url = https://github.com/voidrealms/Lamp-29.git
[submodule "Lamp-30"]
	path = Lamp-30
	url = https://github.com/voidrealms/Lamp-30.git
[submodule "Lamp-31"]
	path = Lamp-31
	url = https://github.com/voidrealms/Lamp-31.git
[submodule "Lamp-32"]
	path = Lamp-32
	url = https://github.com/voidrealms/Lamp-32.git
[submodule "Lamp-33"]
	path = Lamp-33
	url = https://github.com/voidrealms/Lamp-33.git
[submodule "Lamp-34"]
	path = Lamp-34
	url = https://github.com/voidrealms/Lamp-34.git
[submodule "Lamp-35"]
	path = Lamp-35
	url = https://github.com/voidrealms/Lamp-35.git
[submodule "Lamp-36"]
	path = Lamp-36
	url = https://github.com/voidrealms/Lamp-36.git
[submodule "Lamp-37"]
	path = Lamp-37
	url = https://github.com/voidrealms/Lamp-37.git
[submodule "Lamp-38"]
	path = Lamp-38
	url = https://github.com/voidrealms/Lamp-38.git
[submodule "Lamp-39"]
	path = Lamp-39
	url = https://github.com/voidrealms/Lamp-39.git
[submodule "Lamp-40"]
	path = Lamp-40
	url = https://github.com/voidrealms/Lamp-40.git
[submodule "Lamp-41"]
	path = Lamp-41
	url = https://github.com/voidrealms/Lamp-41.git
[submodule "Lamp-42"]
	path = Lamp-42
	url = https://github.com/voidrealms/Lamp-42.git
[submodule "Lamp-43"]
	path = Lamp-43
	url = https://github.com/voidrealms/Lamp-43.git
[submodule "Lamp-44"]
	path = Lamp-44
	url = https://github.com/voidrealms/Lamp-44.git
[submodule "Lamp-46"]
	path = Lamp-46
	url = https://github.com/voidrealms/Lamp-46.git
[submodule "Lamp-47"]
	path = Lamp-47
	url = https://github.com/voidrealms/Lamp-47.git
[submodule "Lamp-48"]
	path = Lamp-48
	url = https://github.com/voidrealms/Lamp-48.git
[submodule "Lamp-49"]
	path = Lamp-49
	url = https://github.com/voidrealms/Lamp-49.git
[submodule "Lamp-50"]
	path = Lamp-50
	url = https://github.com/voidrealms/Lamp-50.git
[submodule "Lamp-51"]
	path = Lamp-51
	url = https://github.com/voidrealms/Lamp-51.git
[submodule "Lamp-52"]
	path = Lamp-52
	url = https://github.com/voidrealms/Lamp-52.git
[submodule "Lamp-53"]
	path = Lamp-53
	url = https://github.com/voidrealms/Lamp-53.git
[submodule "Lamp-54"]
	path = Lamp-54
	url = https://github.com/voidrealms/Lamp-54.git
